#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}

.chord {
  color: blue;
  font-size: 80%;
}

.chord > a {
  margin-right: 6px;
}

.chord > span {
  margin-right: 12px;
}

.chord-only {
  padding-right: 25px;
}

.info {
  margin: 20px;
}

.info > input {
  float: left;
  margin-right: 10px;
  width: 30%;
}

.info > select {
  float: left;
  margin-right: 10px;
}

.info > .info-val {
  float: left;
  margin-right: 10px;
}

.main {
    background-color: blanchedalmond;
    color: black;
    border-color: black;
    border-style: double;
    margin: 5% 20px 5% 5%;
    padding: 3%;
}

.lyric {
    border:0px;
    height: 20px;
    padding: 0px;
}

.title {
    font-size: x-large;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.txt {
    font-size: 100%;
}

.words {
  clear: both;
  padding-top: 20px;
}

.words > table {
  border-spacing: 0mm;
  padding: 0px;
}
