<div id="app" class="main">
  <div class="title">{{ Title }}</div>
  <div class="info">
    <input type="file" @change="loadTxt">
    <select name="Transepose" v-model="Capo" >
      <option v-for="tp in Transposes" :key="tp.value" :value="tp.value">
        {{ tp.text }}
      </option>
    </select>
    <div v-if="Artist" class="info-val"> Artist: {{ Artist }} </div>
    <div class="info-val">&nbsp;ScrollSpeed:</div>
    <input type="number" v-model="scrollSpeed" style="width:30px" min="1" max="20">
  </div>
  <div class="words" @click="scrollAuto">
    <table v-for="word in Words" :key="word.key">
      <tr class="chord" v-if="word.Chords.length">
        <template v-if="!word.Lyrics.length">
          <td class="chord-only" v-for="chord in word.Chords" :key="chord.key">{{ chord }}</td>
        </template><template v-else>
        <td v-for="chord in word.Chords" :key="chord.key">{{ chord }}</td>
        </template>
      </tr>
      <tr class="lyric" v-if="word.Lyrics.length">
        <td v-for="lyric in word.Lyrics" :key ="lyric.key">{{ lyric }}</td>
      </tr>
      <tr v-if="!word.Chords.length && !word.Lyrics.length"></tr>
    </table>
  </div>
</div>
